<% const { priceDiscount, priceFormat, discount } = price; %>
<% let TOTAL = 0; %>


<div class="row padding_bottom_big">
  <% if(!carts.length) { %>
    <div class="alert alert-danger item-cart-title" role="alert">
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      <span>Giỏ hàng không có sản phẩm. Vui lòng thực hiện lại.</span>
    </div>
  <% } else { %>
    <div class="alert alert-warning item-cart-title" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      <span>Miễn Phí Vận Chuyển cho đơn hàng có giá trị từ 250.000 VNĐ cho tất cả các tỉnh thành trên toàn quốc.</span>
    </div>
  <% } %>
</div>

<div class="row">
  <div class="col-sm-12">
    <p class="cart-title">GIỎ HÀNG (
      <span id="item-count"></span> sản phẩm )</p>
  </div>
  <div class="row">
    <% if(!carts.length) { %>
      <div class="col-sm-12">
        <div class="empty-cart">
          <img src="./assets/media/images/cart-empty.png" alt="Cart-Empty">
          <p>Không có sản phẩm nào trong giỏ hàng của bạn</p>
          <a href="/home" type="button" class="btn btn-warning btn-lg">Tiếp tục mua sắm</a>        
        </div>
      </div>
    <% } else { %>
    <div class="col-sm-8">
      <% carts.forEach(e => { %>
        <% const { ID, NAME, PRICE, IMAGE, SALES, AMOUNT } = e %>
        <% TOTAL += +PRICE * +AMOUNT; %>
          <div class="row item-cart-content">
            <div class="col-sm-3">
              <img src="./assets/media/images/<%= IMAGE%>" alt="BOOK_IMAGE" class="my_banner_cover">
            </div>
            <div class="col-sm-4 item-cart-author">
              <p><%= NAME%></p>
              <p></p>
              <p>Đã bán <span><%= SALES%></span> sản phẩm</p>
              <p><a href="javascript:;">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a></p>
            </div>
            <div class="col-sm-2 item-cart-price">
              <p><%= priceFormat(PRICE)%> ₫</p>
              <p>
                <strike><%= priceDiscount(PRICE)%> ₫</strike>
              </p>
              <p>
                <span class="label label-warning">-<%= discount%>%</span>
              </p>
            </div>
            <div class="col-sm-3 item-cart-total">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">-</button>
                </span>
                <input type="number" class="form-control item-value" value="<%= AMOUNT%>" />
                <input type="hidden" value="<%= ID%>">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">+</button>
                </span>
              </div>
            </div>
          </div>
        <% }) %>
    </div>

    <div class="col-sm-4 item-cart-root-buy">
      <div class="row">
        <div class="col-sm-12 item-cart-buy">
          <div class="row">
            <div class="col-sm-6">
              Thành tiền: 
            </div>
            <div class="col-sm-6">
              <p><span id="totalPrice"><%= priceFormat(TOTAL)%></span> ₫</p>
              <p>(Đã bao gồm VAT)</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <button type="button" class="btn btn-danger btn-block btn-lg" id="orderCartBtn">
            Tiến hành đặt hàng
          </button>
        </div>
      </div>
    </div>
  <% } %>
  </div>

</div>
<script>
  document.getElementById('item-count').innerText = localStorage.getItem('count') ? localStorage.getItem('count') : '0';
</script>