<div class="col-sm-12 col-md-3">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <div>Tài khoản của: </div>
      <span id="accountName" ></span>
    </div>
    <div class="col-sm-12 acount-info-list">
      <div class="list-group">
        <a href="javascript:;" class="list-group-item" id="acount-info">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="acount-info-title">Thông tin tài khoản</span>
        </a>
        <a href="javascript:;" class="list-group-item active" id="acount-history">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <span class="acount-info-title">Lịch sử mua hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="btn-logout">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <span class="acount-info-title">Đăng xuất</span>
        </a>
      </div>
    </div>
  </div>
  
</div>
<div class="col-sm-12 col-md-9">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <p>Thông tin tài khoản</p>
    </div>
    <div class="col-sm-12 acount-history-panel">
      <% if(!orders.length) { %>
        <div>Không có lịch sử mua hàng</div>
      <% } else { %>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="info">
                <th>Mã đơn hàng</th>
                <th>Ngày mua</th> 
                <th>Sản phẩm</th>
                <th>Tổng tiền</th> 
                <th>Trạng thái<br>đơn hàng</th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach(e => { %>
                <% const {ID, DATE_CREATED, CONTENT, TOTAL_COST, STATE} = e; %>
                <tr>
                  <td class="col-md-2"><a href="/user/account/order/history/<%= ID%>"><%= ID%></a></td>
                  <td class="col-md-2"><%= DATE_CREATED%></td> 
                  <td class="col-md-4"><%= CONTENT%></td>
                  <td class="col-md-2"><%= TOTAL_COST%> ₫</td> 
                  <td class="col-md-2"><%= showStatus(STATE)%></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
  </div>
</div>
<script>
  document.getElementById('accountName').innerText = localStorage.getItem('name') ? localStorage.getItem('name') : 'Customer';
</script>