<div class="col-sm-12 col-md-3">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <div>Tài khoản của: </div>
      <span id="accountName" ></span>
    </div>
    <div class="col-sm-12 acount-info-list">
      <div class="list-group">
        <a href="javascript:;" class="list-group-item" id="acount-info">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="acount-info-title">Thông tin tài khoản</span>
        </a>
        <a href="javascript:;" class="list-group-item active" id="acount-history">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <span class="acount-info-title">Lịch sử mua hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="btn-logout">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <span class="acount-info-title">Đăng xuất</span>
        </a>
      </div>
    </div>
  </div>
  
</div>
<div class="col-sm-12 col-md-9">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <p>Đơn hàng của tôi</p>
    </div>
    <div class="col-sm-12 acount-history-panel">
      <div class="row">
      <% if(!orders.length) { %>
        <div class="col-sm-12">
          <div class="alert alert-danger margin-bottom-big fs-20" id="my-title-list">
            KHÔNG CÓ LỊCH SỬ MUA HÀNG
          </div>
        </div>
      <% } else { %>
        <div class="col-xs-12 order-item-header">
          <div class="col-xs-2">Mã đơn hàng</div>
          <div class="col-xs-2">Ngày mua</div>
          <div class="col-xs-4">Sản phẩm</div>
          <div class="col-xs-2">Tổng tiền</div>
          <div class="col-xs-2">Trạng thái<br>đơn hàng</div>
        </div>
        <% orders.forEach(e => { %>
        <% const {ID, DATE_CREATED, CONTENT, TOTAL_COST, STATE} = e; %>
          <div class="col-xs-12 order-item-body">
            <div class="col-xs-2"><a href="/user/account/order/history/<%= ID%>"><%= ID%></a></div>
            <div class="col-xs-2"><%= DATE_CREATED%></div>
            <div class="col-xs-4"><%= CONTENT%></div>
            <div class="col-xs-2"><%= TOTAL_COST%> ₫</div>
            <div class="col-xs-2"><%= showStatus(STATE)%></div>
          </div>
        <% }); %>
      <% } %>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('accountName').innerText = localStorage.getItem('name') ? localStorage.getItem('name') : 'Customer';
</script>