<% 
  const {
    ID, NAME, IMAGE, PRICE, VIEWS, SALES, DESCRIPTION, 
    C_NAME, P_NAME, A_NAME, ID_CATEGORY, ID_PUBLISHER, ID_AUTHOR
  } = results.book;
  const { bookSameCategories, bookSamePublishers } = results;
  const {priceFormat, priceDiscount, discount} = price;
%>

<div class="row item_root_detail">
  <div class="col-sm-12 col-md-5">
    <img src="./assets/media/images/<%= IMAGE%>" alt="book-image-cover" class="item_detail_img" />
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="row item_detail">
      <div class="col-sm-12">
        <div class="row item_detail_header">
          <div class="col-sm-12">
            <p><%= NAME%></p>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <span>Tác giả: </span>
                <a href="/category/author/<%= ID_AUTHOR%>?page=1"><%= A_NAME%></a>
              </div>
              <div class="col-sm-12 col-md-4">
                <span>Thể loại: </span>
                <a href="/category/<%= ID_CATEGORY%>?page=1"><%= C_NAME%></a>
              </div>
              <div class="col-sm-12 col-md-3">
                <a href="/category/publisher/<%= ID_PUBLISHER%>?page=1"><%= P_NAME%></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 item_detail_price">
        <p>
          <span class="item_price"><%= priceFormat(PRICE)%> ₫</span>
          <span class="item_vat">Đã có VAT</span>
        </p>
        <p class="item_detail_views">Tiết kiệm: <span class="price-discount"><%= discount%>%</span></p>
        <p class="item_detail_views">Giá thị trường: <%= priceDiscount(PRICE) %> ₫</>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <p class="item_detail_views">
              <span>Lượt xem: </span>
              <span class="item_view"><%= VIEWS%></span>
              <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            </p>
          </div>
          <div class="col-sm-4 col-md-3">
            <p class="item_detail_sales">
              <span>Đã bán: </span>
              <span class="item_sale"><%= SALES%></span>
              <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 item_detail_mota">
        <p>
          <span>GIỚI THIỆU SÁCH </span> 
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </p>
        <p class="item_detail_info"><%- DESCRIPTION%></p>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3 item_detail_total">
            <p>Số lượng:</p>
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btnSub">-</button>
              </span>
              <input type="text" class="form-control" value="1" id="txtTotal" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btnAdd">+</button>
              </span>
            </div>
          </div>
          <!-- <div class="col-sm-2"></div> -->
          <div class="col-sm-9 item_detail_add_cart">
            <button class="btn btn-danger btn-lg" type="button">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
              Thêm vào giỏ hàng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p class="item_same_title">sản phẩm cùng loại</p>
  </div>
</div>
<div class="row item_same_type">
  <% bookSameCategories.forEach(e => { %>
    <% const {ID, NAME, IMAGE, PRICE, SALES} = e; %>
    <div class="col-sm-12 col-md-2">
      <div class="thumbnail">
        <img src="./assets/media/images/<%= IMAGE%>" alt="BOOK_IMAGE" class="my_banner_cover">
        <div class="caption">
          <h4><%= NAME%></h4>
          <p>
            <span class="price-tag"><%= priceFormat(PRICE) %>&nbsp;₫</span>
            <strike><%= priceDiscount(PRICE)%>&nbsp;₫</strike>
            <span class="price-discount">-<%= discount%>%</span>
          </p>
          <p>Số lượng đã bán:
            <span class="badge"><%= SALES%></span>
          </p>
          <button type="button" class="btn btn-danger btn-block btn-lg">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span>Thêm vào giỏ hàng</span>
          </button>
        </div>
        <input type="hidden" value="<%= ID%>"/>
      </div>
    </div>
  <% }) %>
</div>

<div class="row">
  <div class="col-sm-12">
    <p class="item_same_title">sản phẩm cùng nhà sản xuất</p>
  </div>
</div>
<% if(!bookSamePublishers.length) { %>
<div class="col-sm-12">
  <div class="alert alert-info margin-bottom-big fs-20" id="my-title-list">
    KHÔNG CÓ SẢN PHẨM
  </div>
</div>
<% } else { %>
  <div class="row item_same_producer">
  <% bookSamePublishers.forEach(e => { %>
    <% const {ID, NAME, IMAGE, PRICE, SALES} = e; %>
    <div class="col-sm-12 col-md-2">
      <div class="thumbnail">
        <img src="./assets/media/images/<%= IMAGE%>" alt="BOOK_IMAGE" class="my_banner_cover">
        <div class="caption">
          <h4><%= NAME%></h4>
          <p>
            <span class="price-tag"><%= priceFormat(PRICE) %>&nbsp;₫</span>
            <strike><%= priceDiscount(PRICE)%>&nbsp;₫</strike>
            <span class="price-discount">-<%= discount%>%</span>
          </p>
          <p>Số lượng đã bán:
            <span class="badge"><%= SALES%></span>
          </p>
          <button type="button" class="btn btn-danger btn-block btn-lg">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span>Thêm vào giỏ hàng</span>
          </button>
        </div>
        <input type="hidden" value="<%= ID%>"/>
      </div>
    </div>
  <% })} %>
</div>
<!-- <script src="./assets/js/item_detail.js"></script> -->