<% const {priceFormat, priceDiscount, discount} = price; %>

<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info margin-bottom-small fs-20" id="my-title-list"></div>
  </div>
  <% items.forEach(e => { %>
    <% const {ID, NAME, IMAGE, PRICE, SALES} = e; %>
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="./assets/media/images/<%= IMAGE%>" alt="BOOK_IMAGE" class="my_banner_cover">
        <div class="caption">
          <h4><%= NAME%></h4>
          <p>
            <span class="price-tag"><%= priceFormat(PRICE) %>&nbsp;₫</span>
            <strike><%= priceDiscount(PRICE)%>&nbsp;₫</strike>
            <span class="price-discount">-<%= discount%>%</span>
          </p>
          <p>Số lượng đã bán:
            <span class="badge"><%= SALES%></span>
          </p>
          <button type="button" class="btn btn-danger btn-block btn-lg">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span>Thêm vào giỏ hàng</span>
          </button>
        </div>
        <input type="hidden" value="<%= ID%>"/>
      </div>
    </div>
  <% }) %>
  <div class="col-sm-12 item-list-page">
    <nav aria-label="Page navigation">
      <ul class="pagination pagination-lg">
        <% for(let i = 1; i <= count; i++) { %>
          <% if(i == page) { %>
            <li class="active"><a href="javascript:;"><%= i%></a></li>
          <% } else { %>
            <li><a href="<%= path + i%>"><%= i%></a></li>
          <% } %>
        <% } %>
      </ul>
    </nav>
  </div>
</div>
<script>
  document.getElementById('my-title-list').innerText = localStorage.getItem('titleList');
</script>


