<!-- Danh muc San pham panel -->

<div class="panel panel-success">
  <div class="panel-heading" role="tab" id="collapseListGroupHeadingVN">
    <h3 class="panel-title panel-title-header">
      <a href="#collapseListGroupVN" class="" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseListGroupVN">
        DANH MỤC SÁCH </a>
    </h3>
  </div>
  <!-- <div class="padding_bottom_big"></div> -->
  <div class="panel-collapse collapse.in" role="tabpanel" id="collapseListGroupVN" aria-labelledby="collapseListGroupHeadingVN"
    aria-expanded="true">
    <div class="list-group">
      <% categories.forEach(e => { %>
        <a href="/category/<%= e.ID %>" class="list-group-item">
          <span class="my-menu-name"><%= e.NAME %></span>
          <span class="badge"><%= e.ID %></span>
        </a>
      <% }); %>
    </div>
  </div>
</div>

<!-- Danh muc nha xuat ban -->
<div class="panel panel-warning">
  <div class="panel-heading" role="tab" id="collapseListGroupHeadingNXB">
    <h3 class="panel-title panel-title-header">
      <a href="#collapseListGroupNXB" class="" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseListGroupNXB">
        NHÀ XUẤT BẢN </a>
    </h3>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroupNXB" aria-labelledby="collapseListGroupHeadingNXB"
    aria-expanded="true">
    <div class="list-group">
      <% publishers.forEach(e => { %>
        <a href="javascript:;" class="list-group-item">
          <span class="my-menu-name"><%= e.NAME %></span>
          <span class="badge"><%= e.ID %></span>
        </a>
      <% }); %>
    </div>
  </div>

</div>

<!-- Danh muc nha xuat ban -->
<div class="panel panel-danger">
  <div class="panel-heading" role="tab" id="collapseListGroupHeadingTG">
    <h3 class="panel-title panel-title-header">
      <a href="#collapseListGroupTG" class="" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseListGroupTG">
        TÁC GIẢ </a>
    </h3>
  </div>
  <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroupTG" aria-labelledby="collapseListGroupHeadingTG"
    aria-expanded="true">
    <div class="list-group">
      <div class="list-group">
        <% authors.forEach(e => { %>
          <a href="javascript:;" class="list-group-item">
            <span class="my-menu-name"><%= e.NAME %></span>
            <span class="badge"><%= e.ID %></span>
          </a>
        <% }); %>
      </div>
    </div>
  </div>

</div>

<!-- Search panel -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title panel-title-header">TÌM KIẾM</h3>
  </div>
  <div class="panel-body">
    <!-- <p>Giá từ:</p> -->
    <p>
      <span>Giá từ: </span>

      <select>
        <option selected>10,000</option>
        <option>20,000</option>
        <option>30,000</option>
        <option>50,000</option>
        <option>100,000</option>
        <option>200,000</option>
        <option>300,000</option>
        <option>500,000</option>
        <option>1 triệu</option>
      </select>
      <span>&nbsp;đến:&nbsp;</span>
      <select>
        <option>20,000</option>
        <option>30,000</option>
        <option>50,000</option>
        <option>100,000</option>
        <option>200,000</option>
        <option>300,000</option>
        <option>500,000</option>
        <option>1 triệu</option>
        <option selected>2 triệu</option>
      </select>
      <!-- <span>&nbsp;&nbsp;</span>               -->
      <!-- <a href="javascript:;" class="btn btn-default" id="btnFilter"> 
          <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
          <span>Lọc</span>
        </a> -->
    </p>
    <button type="button" class="btn btn-default btn-block" id="btnFilter">
      <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
      <span>Lọc</span>
    </button>

  </div>
</div>