<% 
  const {NAME, PHONE} = user;
  const hidden = !token.length ? 'hidden' : null;
  const show = token.length ? 'hidden' : null;
  let ADDRESS = '';
  token.forEach(e => ADDRESS += e + ' ');
%>
<div class="col-sm-12 col-md-3">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <img src="./assets/media/images/avatar.png" alt="avater" class="avater-cover"/>
      <div>Tài khoản của: </div>
      <span id="accountName" ></span>
    </div>
    <div class="col-sm-12 acount-info-list">
      <div class="list-group">
        <a href="javascript:;" class="list-group-item" id="acount-info">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="acount-info-title">Thông tin tài khoản</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="acount-history">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <span class="acount-info-title">Lịch sử mua hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item active" id="acount-address">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <span class="acount-info-title">Địa chỉ giao hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="btn-logout">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <span class="acount-info-title">Đăng xuất</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-9 my-panel-height">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <p>Địa chỉ giao hàng</p>
    </div>
    <div class="col-sm-12 acount-address-panel">
      <div class="acount-address-header" id="div-address-add" <%= show%> >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>Thêm địa chỉ mới</span>
      </div>
      <div class="acount-address-body" id="div-address-info" <%= hidden%> >
        <p>
          <span><%= NAME%></span>
          <span><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>  Địa chỉ mặc định</span>
        </p>
        <p>
          <span>Địa chỉ:</span> 
          <span><%=ADDRESS %></span>
        </p>
        <p>
          <span>Điện thoại:</span> 
          <span><%=PHONE %></span>
        </p>
      </div>
      <div class="col-sm-12 acount-info-panel" id="div-address-form" hidden>
        <div class="form-horizontal">
          <div class="form-group">
            <label for="inputAcountCity" class="col-sm-3 control-label label-login-content">Tỉnh/Thành phố:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-lg" id="inputAcountCity" placeholder="Nhập tỉnh/thành phố" value="<%= token[3] ? token[3] : ''%>">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAcountDistrict" class="col-sm-3 control-label label-login-content">Quận/Huyện:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-lg" id="inputAcountDistrict" placeholder="Nhập quận/huyện" value="<%= token[2] ? token[2] : ''%>" >
            </div>
          </div>
          <div class="form-group">
            <label for="inputAcountVillage" class="col-sm-3 control-label label-login-content">Phường/Xã:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-lg" id="inputAcountVillage" placeholder="Nhập phường/xã" value="<%= token[1] ? token[1] : ''%>"/>
            </div>
          </div>
          <div class="form-group">
            <label for="inputAcountHome" class="col-sm-3 control-label label-login-content">Số nhà:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-lg" id="inputAcountHome" placeholder="Nhập số nhà " value="<%= token[0] ? token[0] : ''%>"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3" id="update-address-loader">
              <!-- <div class="loader"></div> -->
            </div>
            <div class="col-sm-9">
              <button type="button" class="btn btn-warning btn-lg btn-login" id="btn-address-update">Cập nhật địa chỉ</button>
              <button type="button" class="btn btn-default btn-lg btn-login" id="btn-address-cancel">Huỷ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('accountName').innerText = localStorage.getItem('name') ? localStorage.getItem('name') : 'Customer';
</script>