<%- include('./account.base.ejs')%>
<%
  let style = 'clr_gray';
  if(orders[0].STATE == 2) style = 'clr_orange';
  if(orders[0].STATE == 3) style = 'clr_green';
%>
<div class="col-sm-12 col-md-9 my-panel-height">
    <div class="row">
      <div class="col-sm-12 history-order">
        <div class="pull-left">Chi tiết đơn hàng #<%= orders[0].ID%> - <strong class="<%= style%>"><%= showStatus(orders[0].STATE)%></strong></div>
        <div class="pull-right">Ngày đặt hàng: <%= orders[0].DATE_CREATED%></div>
      </div>
      <div class="col-sm-12 acount-history-panel">
        <div class="padding_bottom_big"></div>
        <div class="row">
          <div class="col-xs-12 history-row-header">
            <div class="col-xs-6">Sản phẩm</div>
            <div class="col-xs-2">Giá</div>
            <div class="col-xs-2">Số lượng</div>
            <div class="col-xs-2">Tạm tính</div>
          </div>
        <% orders.forEach(e => { %>
        <% const { NAME, IMAGE, PRICE, AMOUNT } = e; %>
        <% const TEMP = +PRICE * +AMOUNT; %>
          <div class="col-xs-12 history-row-body">
            <div class="col-xs-6 history-name">
              <div class="col-xs-2">
                <img src="./assets/media/images/<%= IMAGE%>" alt="BOOK_CORVER">
              </div>
              <div class="col-xs-10">
                <span><%= NAME%></span>
              </div>
            </div>
            <div class="col-xs-2"><%= priceFormat(PRICE)%> ₫</div>
            <div class="col-xs-2"><%= AMOUNT%></div>
            <div class="col-xs-2"><%= priceFormat(TEMP)%> ₫</div>
          </div>
        <% }); %>
          
        <div class="col-xs-12 history-row-total">
            <div class="col-xs-6"></div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2 history-title">
              <p>Tổng cộng</p>
            </div>
            <div class="col-xs-2 history-total">
              <p><%= orders[0].TOTAL_COST%> ₫</p>
            </div>
        </div>
        <div class="col-xs-4 padding_top_big">
          <a href="/user/account/orders" style="font-size: 17px; color: dodgerblue;"> << Quay lại đơn hàng của tôi</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('accountName').innerText = localStorage.getItem('name') ? localStorage.getItem('name') : 'Customer';
</script>