<%- include('./account.base.ejs')%>
<div class="col-sm-12 col-md-9 my-panel-height">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <p>Đơn hàng của tôi</p>
    </div>
    <div class="col-sm-12 acount-history-panel">
      <div class="row">
      <% if(!orders.length) { %>
        <div class="empty-cart">
          <img src="./assets/media/images/cart-empty.png" alt="Cart-Empty">
          <p>Không có lịch sử mua hàng</p>
          <a href="/home" type="button" class="btn btn-warning btn-lg">Tiếp tục mua sắm</a>        
        </div>
      <% } else { %>
        <div class="col-xs-12 order-item-header">
          <div class="col-xs-2">Mã đơn hàng</div>
          <div class="col-xs-2">Ngày mua</div>
          <div class="col-xs-4">Sản phẩm</div>
          <div class="col-xs-2">Tổng tiền</div>
          <div class="col-xs-2">Trạng thái<br>đơn hàng</div>
        </div>
        <% orders.forEach(e => { %>
        <% 
          const {ID, DATE_CREATED, CONTENT, TOTAL_COST, STATE} = e; 
          let style = 'clr_gray';
          if(STATE == 2) style = 'clr_orange';
          if(STATE == 3) style = 'clr_green';
        %>
          <div class="col-xs-12 order-item-body">
            <div class="col-xs-2"><a href="/user/account/order/history/<%= ID%>"><%= ID%></a></div>
            <div class="col-xs-2"><%= DATE_CREATED%></div>
            <div class="col-xs-4"><%= CONTENT%></div>
            <div class="col-xs-2"><%= TOTAL_COST%> ₫</div>
            <div class="col-xs-2 <%= style%>"><%= showStatus(STATE)%></div>
          </div>
        <% }); %>
      <% } %>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('accountName').innerText = localStorage.getItem('name') ? localStorage.getItem('name') : 'Customer';
</script>