<% 
  const {NAME, EMAIL, GENDER, PHONE, BIRTHDAY} = user;
  const male = GENDER === 'NAM' ? 'checked' : null; 
  const female = GENDER === 'NU' ? 'checked' : null; 
%>
<div class="col-sm-12 col-md-3">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <img src="./assets/media/images/avatar.png" alt="avater" class="avater-cover"/>
      <div>Tài khoản của: </div>
      <span><%= NAME%></span>
    </div>
    <div class="col-sm-12 acount-info-list">
      <div class="list-group">
        <a href="javascript:;" class="list-group-item active" id="acount-info">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="acount-info-title">Thông tin tài khoản</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="acount-history">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <span class="acount-info-title">Lịch sử mua hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="acount-address">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <span class="acount-info-title">Địa chỉ giao hàng</span>
        </a>
        <a href="javascript:;" class="list-group-item" id="btn-logout">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <span class="acount-info-title">Đăng xuất</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-9 my-panel-height">
  <div class="row">
    <div class="col-sm-12 acount-info-name">
      <p>Thông tin tài khoản</p>
    </div>
    <div class="col-sm-12 acount-info-panel">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="inputAcountName" class="col-sm-2 control-label label-login-content">Họ tên</label>
          <div class="col-sm-10">
            <input type="text" class="form-control input-lg" id="inputAcountName" value="<%= NAME%>">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAcountPhone" class="col-sm-2 control-label label-login-content">Số điện thoại</label>
          <div class="col-sm-10">
            <input type="number" class="form-control input-lg" id="inputAcountPhone" placeholder="Hãy nhập SĐT để trải nghiệm tốt hơn" value="<%= PHONE ? PHONE : ''%>" >
          </div>
        </div>
        <div class="form-group">
          <label for="inputAcountEmail" class="col-sm-2 control-label label-login-content">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control input-lg" id="inputAcountEmail" placeholder="<%= EMAIL%>" disabled />
          </div>
        </div>
        <div class="form-group">
          <label for="inlineRadioOptions" class="col-sm-2 control-label label-login-content">Giới tính:</label>
          <div class="col-sm-10">
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="genderMale" <%= male%>/>
              <img src="./assets/media/images/glyphicons/png/glyphicons-35-old-man.png" alt="" />
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="genderFemale" <%= female%>/>
              <img src="./assets/media/images/glyphicons/png/glyphicons-36-woman.png" alt="" />
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAcountBirthday" class="col-sm-2 control-label label-login-content">Ngày sinh</label>
          <div class="col-sm-10">
            <div class="input-group date" data-provide="datepicker">
              <input type="text" class="form-control" value="<%= BIRTHDAY ? BIRTHDAY : '01/01/1990' %>" id="birthday">
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
              </div>
          </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2" id="update-loader">
            <!-- <div class="loader"></div> -->
          </div>
          <div class="col-sm-10">
            <button type="button" class="btn btn-warning btn-lg btn-login" id="btn-update">Cập nhật tài khoản</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>