<!DOCTYPE html>
<html>
    <%- include('../header/header.ejs') %>
<body>
  <%- include('../header/navigation.ejs') %>
    <div class="container-fluid">
      <div class="row" id="main-content">
          <%- include('../body/item.detail.ejs', { results, price }) %>
      </div>
    </div>
  <%- include('../footer/footer.ejs') %>
  <%- include('../footer/script.ejs') %>
</body>
</html>
<script src="reload/reload.js"></script>
