<html>
    <%- include('../header/header.ejs') %>
<body>
  <%- include('../header/navigation.ejs') %>
    <div class="container-fluid">
      <div class="row" id="acount-page">
        <%- include('../body/account/account.history.ejs', {  orders, showStatus, priceFormat }) %>
      </div>
    </div>
  <%- include('../footer/footer.ejs') %>
  <%- include('../footer/script.ejs') %>
</body>
</html>