<html lang="en">
<base href="http://localhost:3000">
  <%- include('../header/header.ejs') %>
<body>
    
  <%- include('../header/navigation.ejs') %>

  <div class="container-fluid">
    <div class="row" id="home-page">
      <% const { categories, authors, publishers, items, count } = results; %>
      <div class="col-sm-12 col-md-3" id="menu-list">
          <%- include('../body/menu.list.ejs', {categories, authors, publishers}) %>
      </div>
      <div class="col-sm-12 col-md-9" id="main-content">
          <%- include('../body/item.list.ejs', {items, count, page, price}) %>
      </div>
    </div>
  </div>
  
  <%- include('../footer/footer.ejs') %>
  <%- include('../footer/script.ejs') %>
</body>

</html>
<script src="reload/reload.js"></script>
