<% const { ID, NAME, IMAGE, PRICE, SALES } = data; %>
<div class="thumbnail">
  <img src="./assets/media/images/<%= IMAGE%>" alt="BOOK_IMAGE" class="my_banner_cover">
  <div class="caption">
    <h4><%= NAME%></h4>
    <p>
      <span class="price-tag"><%= price.priceFormat(PRICE) %>&nbsp;₫</span>
      <strike><%= price.priceDiscount(PRICE) %>&nbsp;₫</strike>
      <span class="price-discount">-<%= price.discount %>%</span>
    </p>
    <p>Số lượng đã bán:
      <span class="badge"><%= SALES %></span>
    </p>
    <button type="button" class="btn btn-danger btn-block btn-lg">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      <span>Thêm vào giỏ hàng</span>
    </button>
  </div>
  <input type="hidden" value="<%= ID%>"/>
</div>