<!-- <tr data-toggle="modal" data-target="#DetailModal">
  <td class="img-wrapper img-wrapper-sm">
      <img src="./assets/media/images/book01.jpg" alt="Hình ảnh">
  </td>
  <td>0312</td>
  <td>Chuyện Về Những Người Cô Đơn</td>
  <td>257000</td>
  <td>69</td>
  <td>Hạ Vũ</td>
  <td>Truyện ngắn</td>
  <td>Nhà xuất bản Kim Đồng</td>
  <td>
      <p class="detail-wrapper">
          "Cứ mở lòng với một người, bước vào một cuộc tình là xảy ra chuyện. Dù biết rằng không hạnh phúc nào dễ có, không bình yên
          nào là êm đềm, chẳng đánh đổi bao xót xa, nhưng dù họ có đánh đổi, cố gắng thế nào thì kết cục vẫn là sự chia
          ly và trở về với sự cô đơn. Thật đáng buồn! Vậy nên câu chuyện về những người cô đơn sẽ còn nữa… Vì trên thế
          giới này có rất nhiều những người cô đơn…"
      </p>
  </td> -->

<% const path = './assets/media/images/' %>

<% bookItems.forEach(e => { %>
    <tr data-toggle="modal" data-target="#DetailModal">
        <td class="img-wrapper img-wrapper-sm">
            <img src="<%= path + e.IMAGE %>" alt="Hình ảnh">
        </td>
        <td><%= e.ID %></td>
        <td>
            <div class="detail-wrapper">
                <%= e.NAME %>
            </div>
        </td>
        <td><%= priceFormat(e.PRICE) %></td>
        <td><%= e.INVENTORY %></td>
        <td>
            <div class="detail-wrapper">
                <%- e.AUTHOR_NAME %>
            </div>
            <span style="display:none"><%= e.AUTHOR_ID %></span>
        </td>
        <td>
            <div class="detail-wrapper">
                <%- e.CATEGORY_NAME %>
            </div>
            <span style="display:none"><%= e.CATEGORY_ID %></span>
        </td>
        <td>
            <div class="detail-wrapper">
                <%- e.PUBLISHER_NAME %>
            </div>
            <span style="display:none"><%= e.PUBLISHER_ID %></span>
        </td>
        <td>
            <div class="detail-wrapper">
                <%- e.DESCRIPTION %>
            </div>
        </td>
    </tr>
<% }) %>