<html lang="en">

<head>
    <base href="http://localhost:3000">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin | Book eStore</title>
    <link rel="shortcut icon" href="./assets/media/icon/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/admin_style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/editor.css">
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/editor.js"></script>
</head>

<body>
    <div class="row">
        <nav class="col-sm-4 col-md-3 col-lg-3" id="Navigator">
            <ul class="nav nav-stacked">
                <li>
                    <a href="#Products">
                        <span class="glyphicon glyphicon-inbox" aria-hidden="true">&nbsp;</span>SẢN PHẨM</a>
                </li>
                <li>
                    <a href="#Orders">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true">&nbsp;</span>ĐƠN HÀNG</a>
                </li>
                <li>
                    <a href="#Authors">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span>TÁC GIẢ</a>
                </li>
                <li>
                    <a href="#Cats">
                        <span class="glyphicon glyphicon-list" aria-hidden="true">&nbsp;</span>DANH MỤC</a>
                </li>
                <li>
                    <a href="#Publishers">
                        <span class="glyphicon glyphicon-print" aria-hidden="true">&nbsp;</span>NHÀ XUẤT BẢN</a>
                </li>
            </ul>
        </nav>

        <div class="col-sm-8 col-md-9 col-lg-9" id="Content">
        <% const bookItems = booksList.books, orderItems = ordersList.orders, authorItems = authorsList.authors, catItems = categoriesList.cats, publisherItems = publishersList.publishers %>
            <section id="Products">
                <h1>SẢN PHẨM</h1>
                <hr/>
                <div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" style="padding: 0;">
                        <select name="TypeOfInfo" aria-describedby="TypeOfInfo" id="TypeOfInfo" class="form-control">
                            <option value="id" selected>Mã sản phẩm</option>
                            <option value="product" selected>Tựa đề</option>
                            <option value="author">Tác giả</option>
                            <option value="category">Danh mục</option>
                            <option value="publisher">Nhà xuất bản</option>
                        </select>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <input type="text" id="StrToSearchProducts" class="form-control" placeholder="Nội dung, từ khóa...">
                    </div>

                    <div class="btn-add col-xs-9 col-sm-9 col-md-9 col-lg-2">
                        <button class="btn btn-primary form-control" data-toggle="modal" data-target="#Modal_Product" id="AddNewProduct">
                            <span class="glyphicon glyphicon-plus"></span>
                            Thêm
                        </button>
                    </div>

                    <div class="btn-refresh col-xs-3 col-sm-3 col-md-3 col-lg-2">
                        <button class="btn btn-success form-control">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>

                <div class="table-scroll col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-bordered table-hover" id="ProductsPanel">
                        <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Mã sản phẩm</th>
                                <th>Tựa đề</th>
                                <th>Đơn giá</th>
                                <th>Tồn kho</th>
                                <th>Tác giả</th>
                                <th>Danh mục</th>
                                <th>Nhà xuất bản</th>
                                <th>Mô tả</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('./admin.products.list.ejs', { bookItems }) %>
                        </tbody>
                    </table>
                </div>
                
                <ul class="pagination-ul col-lg-12 col-md-12 col-sm-12 col-xs-12 pagination-lg"></ul>
            </section>

            <section id="Orders">
                <h1>ĐƠN HÀNG</h1>
                <hr/>

                <div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" style="padding: 0">
                        <select name="TypeOfInfo" aria-describedby="TypeOfInfo" class="form-control">
                            <option value="all" selected>Tất cả</option>
                            <option value="pending">Chưa giao</option>
                            <option value="delivering">Đang giao</option>
                            <option value="done">Đã giao</option>
                        </select>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                        <input type="text" id="StrToSearchOrders" class="form-control" placeholder="Mã đơn hàng">
                    </div>

                    <div class="btn-refresh col-xs-12 col-sm-12 col-md-12 col-lg-2">
                        <button class="btn btn-success form-control">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>

                <div class="table-scroll table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>Mã đơn hàng</th>
                            <th>Mã khách hàng</th>
                            <th>Ngày đặt</th>
                            <th>Nội dung</th>
                            <th>Tổng số tiền</th>
                            <th>Trạng thái</th>
                        </thead>
                        <tbody class="table-scroll">
                            <%- include('./admin.order.list.ejs', { orderItems }) %>
                        </tbody>
                    </table>
                </div>
                
                <ul class="pagination-ul col-lg-12 col-md-12 col-sm-12 col-xs-12 pagination-lg"></ul>
            </section>

            <section id="Authors">
                <h1>TÁC GIẢ</h1>
                <hr/>
                <div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" style="padding: 0;">
                        <select name="TypeOfInfo" aria-describedby="TypeOfInfo" class="form-control">
                            <option value="id" selected>Mã tác giả</option>
                            <option value="name">Bút danh</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <input type="text" id="StrToSearchAuthors" class="form-control" placeholder="Nội dung tìm kiếm">
                    </div>

                    <div class="btn-add col-xs-9 col-sm-9 col-md-9 col-lg-2">
                        <button class="btn btn-primary form-control" data-toggle="modal" data-target="#Modal_Author" id="AddNewAuthor">
                            <span>
                                <span class="glyphicon glyphicon-plus"></span>
                                Thêm
                            </span>
                        </button>
                    </div>

                    <div class="btn-refresh col-xs-3 col-sm-3 col-md-3 col-lg-2">
                        <button class="btn btn-success form-control">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>

                <div class="table-scroll table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>Mã tác giả</th>
                            <th>Bút danh</th>
                        </thead>
                        <tbody class="table-scroll">
                            <%- include('./admin.author.list.ejs', { authorItems }) %>
                        </tbody>
                    </table>
                </div>
                
                <ul class="pagination-ul col-lg-12 col-md-12 col-sm-12 col-xs-12 pagination-lg"></ul>
            </section>

            <section id="Cats">
                <h1>DANH MỤC</h1>
                <hr/>
                <div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" style="padding: 0;">
                        <select name="TypeOfInfo" aria-describedby="TypeOfInfo" class="form-control">
                            <option value="id" selected>Mã danh mục</option>
                            <option value="name">Tên danh mục</option>
                        </select>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <input type="text" id="StrToSearchCats" class="form-control" placeholder="Nội dung tìm kiếm">
                    </div>

                    <div class="btn-add col-xs-9 col-sm-9 col-md-9 col-lg-2">
                        <button class="btn btn-primary form-control" data-toggle="modal" data-target="#Modal_Cat" id="AddNewCat">
                            <span>
                                <span class="glyphicon glyphicon-plus"></span>
                                Thêm
                            </span>
                        </button>
                    </div>

                    <div class="btn-refresh col-xs-3 col-sm-3 col-md-3 col-lg-2">
                        <button class="btn btn-success form-control">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>

                <div class="table-scroll table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>Mã danh mục</th>
                            <th>Tên danh mục</th>
                        </thead>
                        <tbody class="table-scroll">
                            <%- include('./admin.category.list.ejs', { catItems }) %>
                        </tbody>
                    </table>
                </div>
                
                <ul class="pagination-ul col-lg-12 col-md-12 col-sm-12 col-xs-12 pagination-lg"></ul>
            </section>

            <section id="Publishers">
                <h1>NHÀ XUẤT BẢN</h1>
                <hr/>
                <div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" style="padding: 0;">
                        <select name="TypeOfInfo" aria-describedby="TypeOfInfo" class="form-control">
                            <option value="id" selected>Mã NXB</option>
                            <option value="name">Tên nhà xuất bản</option>
                        </select>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                        <input type="text" id="StrToSearchPublishers" class="form-control" placeholder="Nội dung tìm kiếm">
                    </div>

                    <div class="btn-add col-xs-9 col-sm-9 col-md-9 col-lg-2">
                        <button class="btn btn-primary form-control" data-toggle="modal" data-target="#Modal_Publisher" id="AddNewPublisher">
                            <span>
                                <span class="glyphicon glyphicon-plus"></span>
                                Thêm
                            </span>
                        </button>
                    </div>

                    <div class="btn-refresh col-xs-3 col-sm-3 col-md-3 col-lg-2">
                        <button class="btn btn-success form-control">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>

                <div class="table-scroll table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <th>Mã NXB</th>
                            <th>Tên NXB</th>
                        </thead>
                        <tbody class="table-scroll">
                            <%- include('./admin.publisher.list.ejs', { publisherItems }) %>
                        </tbody>
                    </table>
                </div>
                
                <ul class="pagination-ul col-lg-12 col-md-12 col-sm-12 col-xs-12 pagination-lg"></ul>
            </section>
        </div>

        <!-- modals -->
        <div class="modal fade" id="Modal_Product" role="dialog">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thông tin chi tiết sản phẩm</h4>
                        </div>
                        <div class="modal-body form-group">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label>Hình ảnh</label>
                                <div class="img-wrapper img-wrapper-md">
                                    <img src="./assets/media/images/book_default.png" alt="Hình ảnh">
                                </div>
                                <input type="file" name="ProductImage" accept="image/*" class="btn btn-default">
                                <!-- code -->
                                <label for="ProductCode">Mã sản phẩm</label>
                                <input type="text" name="ProductCode" class="form-control" disabled>
                                <!-- title -->
                                <label for="ProductTitle">Tựa đề</label>
                                <input type="text" name="ProductTitle" minlength="1" class="form-control" required>
                                <!-- price -->
                                <label for="ProductPrice">Đơn giá</label>
                                <input type="number" name="ProductPrice" min="0" class="form-control" required>
                                <!-- amount -->
                                <label for="ProductAmount">Tồn kho</label>
                                <input type="number" name="ProductAmount" min="0" class="form-control" value="0" required>
                                <!-- author -->
                                <label for="ProductAuthor">Tác giả</label>
                                <select name="ProductAuthor" class="form-control">
                                <% authorItems.forEach(e => { %>
                                    <option value="<%= e.ID%>">
                                        <%= e.NAME%>
                                    </option>
                                <% }) %>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <!-- cat -->
                                <label for="ProductCat">Thể loại</label>
                                <select name="ProductCat" class="form-control">
                                <% catItems.forEach(e => { %>
                                    <option value="<%= e.ID%>">
                                        <%= e.NAME%>
                                    </option>
                                <% }) %>
                                </select>
                                <!-- publisher -->
                                <label for="ProductPublisher">Nhà xuất bản</label>
                                <select name="ProductPublisher" class="form-control">
                                <% publisherItems.forEach(e => { %>
                                    <option value="<%= e.ID%>">
                                        <%= e.NAME%>
                                    </option>
                                <% }) %>
                                </select>
                                <!-- desciption -->
                                <label>Mô tả</label>
                                <div id="txtEditor"></div>
                                <script>
                                    $(document).ready( function() {
                                        $("#txtEditor").Editor();  
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="ModalSave_Product">Lưu thông tin</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="ModalDelete">Xóa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Modal_Author" role="dialog">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thông tin chi tiết tác giả</h4>
                        </div>
                        <div class="modal-body form-group">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="AuthorCode">Mã tác giả</label>
                                <input type="text" disabled name="AuthorCode" class="form-control">
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label>Bút danh</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="ModalSave_Author">Lưu thông tin</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Modal_Cat" role="dialog">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thông tin chi tiết danh mục</h4>
                        </div>
                        <div class="modal-body form-group">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="AuthorCode">Mã danh mục</label>
                                <input type="text" disabled name="AuthorCode" class="form-control">
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label>Tên danh mục</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="ModalSave_Categorie">Lưu thông tin</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Modal_Publisher" role="dialog">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thông tin chi tiết NXB</h4>
                        </div>
                        <div class="modal-body form-group">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="AuthorCode">Mã NXB</label>
                                <input type="text" disabled name="AuthorCode" class="form-control">
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <label>Tên NXB</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="ModalSave_Publisher">Lưu thông tin</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/jquery.twbsPagination.min.js"></script>
    <script src="./assets/js/admin_script.js"></script>
</body>

</html>